@import "tailwindcss";
@config "../tailwind.config.ts";

@custom-variant dark (&:where(.dark, .dark *));
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientMove 18s ease infinite;
}
